<!DOCTYPE html>
<html>
  <head>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" href="../public/stylesheets/style.css">
    <meta charset="utf-8">
    <title>Trip Planner</title>
  </head>
  <body>


    <nav class="navbar navbar-dark" style="background-color: #e3f2fd;">
      <a class = "navbar-brand" href="#">Trip Planner</a>
      <li class="nav-item">Home</li>
      <li class="nav-item">Trip suggestions</li>
      <li class="nav-item">About</li>
    </nav>

    Welcome to Trip Planner!

    <div class=".container-fluid">
      <div class="row">
        <div class="col-sm-8">
          Map goes here
        </div>
        <div class="col-sm-4">
          <div class="panel panel-primary">
          <div class="panel-title">Trip destinations
          </div>
          <div class="panel-body">
            <div class="btn-group" role="group">
              <button class="btn btn-primary" type="button" name="day1">1</button>
              <button class="btn btn-primary" type="button" name="day2">2</button>
              <button class="btn btn-primary" type="button" name="day3">3</button>
              <button class="btn btn-primary" type="button" name="day4">4</button>
            </div>
            <br><br>
            {% block content %} {% endblock %}
          </div>
        </div>
        </div>

      </div>

    </div>

    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  </body>
</html>
